body { 
   margin: 0;
   padding: 0;
   font-size: 16px;
   color: #1a1a1a;
   font-family: 'Fira Sans', sans-serif;
   background-color: lightgrey;
  }

.navbar {
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
 }

.picked #previous-search{
    margin: 5px;
    border-radius: 5px;
}

#weatherIcon {
   max-width: 200px;
}


.low{
   background-color: lightgreen;
}
.moderate {
   background-color: yellow;
}
.high {
   background-color: orange;
}
.veryHigh {
   background-color: red;
}
.extreme {
   background-color: purple;
}

